<div>
    <h2 *ngIf="!idToEdit">New event</h2>
    <h2 *ngIf="idToEdit">Editing Event</h2>
    <form name="form" (ngSubmit)="f.form.valid && processForm()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" [(ngModel)]="event.description" #description="ngModel" required />
            <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !event_start_temp.valid }">
            <label for="event_start_temp">Event Start</label>
            <owl-date-time name="event_start_temp" [(ngModel)]="event.event_start_temp" #event_start_temp="ngModel" 
            dateFormat="DD/MM/YYYY HH:mm" placeHolder="DD/MM/YYYY HH:MM" dataType="string" required="true"></owl-date-time>
            <div *ngIf="f.submitted && !event_start_temp.valid" class="help-block">Event start is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !event_end_temp.valid }">
            <label for="event_end_temp">Event end</label>
            <owl-date-time name="event_end_temp" [(ngModel)]="event.event_end_temp" #event_end_temp="ngModel"
            dateFormat="DD/MM/YYYY HH:mm" placeHolder="DD/MM/YYYY HH:MM" dataType="string" required="true"></owl-date-time>
            <div *ngIf="f.submitted && !event_end_temp.valid" class="help-block">Event end is required</div>
        </div>
        <div *ngIf="!idToEdit" class="form-group">
            <button [disabled]="loadingSignup" class="btn btn-primary">Create</button>
            <img *ngIf="loadingSignup" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="idToEdit" class="form-group">
            <button [disabled]="loadingSignup" class="btn btn-primary">Update event</button>
            <button [disabled]="loadingSignup" class="btn btn-danger" (click)="cancelEvent(); $event.preventDefault()">Cancel event</button>
            <img *ngIf="loadingSignup" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div *ngIf="message" class="alert alert-success">{{message}}</div>
    </form>
</div>