<li *ngFor="let event of events; let i = index"> 
    ID: {{ event.id }}  {{ event.description }} <br>
    {{ event.event_start }} {{ event.event_end }} 
    teste {{event?.whoInvited?.id!=event?.creator.id}}
    <div *ngIf="event.invitedEvent">
        {{event.accepted}} ID {{event.id}} <br>
        <button *ngIf="!(event.accepted)" (click)="accept(event);">Confirm</button>
        <button *ngIf="(event.accepted)"  (click)="unaccept(event);">Disconfirm</button>
        <div *ngIf="event.message">
            {{event.message}}
        </div>
    </div>
    <div *ngIf="!(event.invitedEvent)">
            <a class="nav-link" [routerLink]="['/invite/'+event.id]">Send invite</a>
    </div>
</li>